# dmm map merger hook
# needs additional setup, see tools/mapmerge/install.txt
*.dmm merge=merge-dmm

# force changelog merging to use union
html/changelog.html merge=union
*.jpg !text !filter !merge !diff
*.png !text !filter !merge !diff
*.dmi !text !filter !merge !diff
*.wav !text !filter !merge !diff
*.ogg !text !filter !merge !diff
*.obj !text !filter !merge !diff
*.tga !text !filter !merge !diff
*.mp3 !text !filter !merge !diff
