*.dm text eol=crlf
*.dme text eol=crlf
*.dmm text eol=crlf
*.dms text eol=crlf
*.htm text eol=crlf
*.html text eol=crlf
*.js text eol=crlf
*.py text eol=crlf
*.txt text eol=crlf

*.dmm merge=merge-dmm
*.jpg !text !filter !merge !diff
*.png !text !filter !merge !diff
*.dmi !text !filter !merge !diff
*.wav !text !filter !merge !diff
*.ogg !text !filter !merge !diff
*.obj !text !filter !merge !diff
*.tga !text !filter !merge !diff
*.mp3 !text !filter !merge !diff
