# merger hooks, run tools/hooks/install.bat or install.sh to set up
*.dmm merge=dmm
*.dmi merge=dmi

# force changelog merging to use union
html/changelog.html merge=union
*.jpg !text !filter !merge !diff
*.png !text !filter !merge !diff
*.dmi !text !filter !merge !diff
*.wav !text !filter !merge !diff
*.ogg !text !filter !merge !diff
*.obj !text !filter !merge !diff
*.tga !text !filter !merge !diff
*.mp3 !text !filter !merge !diff
